.bg-image {
    height: 700px;
    background-image: url('images/bg-image.png');
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-size: cover;
}
.bachias-foto {height: 100px;
    width: 80px;}
.bachia {
    position: absolute;
    animation: bachia 30s infinite linear; }
@keyframes bachia {
    0% {top:240px; left: 600px;}
    5% {top:245px; left: 680px;}
    10% {top:250px; left: 730px;}
    15% {top:255px; left: 770px;}
    20% {top:260px; left: 800px;}
    25% {top:265px; left: 830px;}
    30% {top:270px; left: 850px;}
    35% {top:280px; left: 870px;}
    40% {top:290px; left: 900px;}
    45% {top:300px; left: 920px;}
    50% {top:350px; left: 920px;}
    70% {top:400px; left: 950px;}
    75% {top:450px; left: 920px;}
    80% {top:500px; left: 900px;}
    85% {top:550px; left: 870px;}
    90% {top:600px; left: 850px;}
    95% {top:650px; left: 850px;}
    100% {transform: scale(3,3);}
    